.section-list {
  margin-top: 60px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  @media (max-width: 480px) {
    margin-left: 0;
  }
}
.container-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  @media (max-width: 480px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
