@import "core/reset";

body {
  background-color: black;
}

.container-header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.header {
  width: 600px;
  object-fit: cover;

  &__img {
    width: 100%;
  }
}
.message {
  font-family: arial;
  color: cyan;
  text-align: center;
  margin: 0 auto;
  font-size: 26px;
  margin-top: 50px;
  @media (max-width: 390px) {
    font-size: 20px;
    padding: 15px;
  }
}
